{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<!-- <link rel="stylesheet" href="{% static 'css/all.css' %}"> -->
	<script src="https://kit.fontawesome.com/4582641e3d.js" crossorigin="anonymous"></script>
	{% block style %}
	  
	{% endblock style %}
	<title>{% block title %}Ala-Too Store{% endblock title %}</title>
</head>
<body style="background-color: rgb(230, 222, 216);">
	<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(255, 60, 0); margin-bottom: 20px;">
		<a class="navbar-brand" href="{% url 'main-page' %}">Ala-Too Store</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Catigories
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						{% for category in categories %}
							<a class="dropdown-item" href="{% url 'category' category.id %}">{{ category.title }}</a>
						{% endfor %}
					</div>
				</li>
				<li>
					<a href="{% url 'cart-detail' %}" class="nav-link"><i class="fas fa-shopping-cart"></i>Cart</a>
				</li>
				{% if user.is_authenticated %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="userDrow" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						{{user.username}}
					</a>
					<div class="dropdown-menu" aria-labelledby="userDrow">
							<a class="dropdown-item" href="{% url 'user-logout' %}">Logout</a>
					</div>
				</li>
				{% else %}
				<li>
					<a href="{% url 'user-login' %}" class="nav-link">Вход</a>
				</li>
				<li>
					<a href="{% url 'user-create' %}" class="nav-link">Регистрация</a>
				</li>
				{% endif %}
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search" name="name" placeholder="Search" aria-label="Seacrh">
				<button class="btn btn-outline-light my-2 my-sm-0 font-weight-bold" type="submit" formaction={% url 'main-page' %}><i class="fab fa-sistrix"></i>Go</i></button>
			</form>
		</div>
	</nav>
	<div class="container">
	{% block content %}
	  
	{% endblock content %}
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  {% block js %}
    
  {% endblock js %}
</body>
</html>